<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>

<body>
  <header>
  <h1>Sveiki, pasaule!</h1>
  </header>
  
  <hr>
  
  <main>
    <section id="content">
  <p>Šis ir mans pirmais HTML!</p>
  <image src="bilde.jpg" width="200px">
    </section>
    
    <br>
    <section id="content">
    <ol type="A" start="1">
      <li>Pirmais</li>
      <li>Otrais</li>
      <li>Trešais</li>
    </ol>
    <ul type="square">
      <li>Pirmais</li>
      <li>Otrais</li>
      <li>Trešais</li>
    </ul>
    <a href="parmums.html">Par mums</a>
      <br>
    <a href="kontakti.html">Sazināties</a>
    <table border="1">
    </section>

    <section id=tabula>
      <tr>
        <td>1. rinda 1. kolonna</td>
        <td>1. rinda 2. kolonna</td>
        <td>1. rinda 3. kolonna</td>
      </tr>
      <tr>
        <td>2. rinda 1. kolonna</td>
        <td>2. rinda 2. kolonna</td>
        <td>2. rinda 3. kolonna</td>
      </tr>
      <tr>
        <td>3. rinda 1. kolonna</td>
        <td>3. rinda 2. kolonna</td>
        <td>3. rinda 3. kolonna</td>
      </tr>
    </table>
    </section>  
  </main>
  
  <footer>
    &copy; Mana firma
  </footer>
  
  <script src="script.js"></script>
</body>

</html>