<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Kontakti</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <h1>Sazinies ar mums</h1>
  </header>

  <hr>

  <main>
    <section id="content">
      <form>
        <label for="Vārds">Vārds:</label>
        <input text="text" id="Vārds" name="Vārds"><br><br>
        <label for="e_pasts">E-pasts:</label>
        <input text="e_pasts" id="e_pasts" name="e_pasts"><br><br>
        <input type="submit" value="Iesniegt">
      </form>

    <br>
      
    <form action="/aiziet" method="post">
      <input type="text" name="lietotajvards" placeholder="Lietotājvārds" required>
      <input type="submit">
    </form>
      
    <br>
      <a href="index.html">Atgriezties</a>
    <br>  
    </section>
  </main>
  <br>
  <footer>
    &copy; Mana firma
  </footer>

  <script src="script.js"></script>
</body>

</html>