<!DOCTYPE html>
<html lang="lv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pamati un sintakse</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <h1>Saraksts</h1>
  <body>
    <nav class="saraksts">
      <ul>
        <li><a href="/sveiciens">Sveiciens Pasaule</a></li>
        <li><a href="/mainigie">Mainīgie</a></li>
        <li><a href="/datu_tipi">Datu_tipi</a></li>
        <li><a href="/operatori">Operatori</a></li>
        <li><a href="/kontroles_strukturas">Kontroles struktūras</a></li>
        <li><a href="/funkcijas">Funkcijas</a></li>
        <li><a href="/failu_apstrade">Failu apstrāde</a></li>
        <li><a href="/moduli">Matemātiskās funkcijas</a></li>
        <li><a href="/majasdarbs">Mājasdarbs</a></li>
        <li><a href="/oop">Objektorientēta programmēšana</a></li>
        <li><a href="/aptauja">Aptauja</a></li>
      </ul>
    </nav>
    <div class="parbaude">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>