<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body class="parmums-body">
  <h1>Par mums</h1>
  <p>Mūsu komanda sastāv no talantīgiem un aizrautīgiem profesionāļiem, kuri ne tikai izceļas ar savām prasmēm, bet arī ar interesantām personīgajām īpašībām.</p>
  <div class="img-container">
    <div class="img-container__profils1"><image src="{{ url_for('static', filename='/media/pro2.jpg') }}" width="200px">
    <p><b>Raimonds Kalniņš</b></p>
      <p>Amats: Projekta vadītājs</p>
      <p>Interesants fakts: Raimondam ļoti garšo saldējums, un viņš katru piektdienu atnes jaunus garšas veidus uz biroju</p>
  </div>
    <div class="img-container__profils2"><image src="{{ url_for('static', filename='/media/pro1.jpg') }}" width="200px">
    <p><b>Anna Ozoliņa</b></p>
      <p>Amats: Programmatūras inženiere</p>
      <p>Interesants fakts: Anna ir talantīga šaha spēlētāja un bieži uzvar biroja turnīros</p>
  </div>
    <div class="img-container__profils3"><image src="{{ url_for('static', filename='/media/pro3.jpg') }}" width="200px">
    <p><b>Jānis Liepiņš</b></p>
      <p>Amats: Mārketinga speciālists</p>
      <p>Interesants fakts: Jānis ir ceļojumu entuziasts, kurš apmeklējis vairāk nekā 30 valstis</p>
  </div>
  </div>
    <a href="index.html">Sākums</a>
    <br>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>